html { 
 
}
body { 
    margin:0;
    background-color: #778899;
}
nav {
    display: flex;
    justify-content: space-between;
}
.bar{
  background-color: #778899;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.navitem { 
    text-decoration: none;
    color:white;
    padding: 5px;
    padding-left: 22px;  
    padding-right: 22px;  
}

.titleitem { 
   color: white;
   align-self: flex-start;  
   margin-left: 2.5%;
}

.canvasparent { 
    display: flex;
    justify-content: center;
}

.myCanvas { 
background-color:#DCDCDC;
}

.registerform {
    width: 100%;
    justify-content: center;
    display: flex;
 }

 .register { 
     padding: 10%;
     background-color: #DCDCDC;
     justify-content: center;
 }