body { 
    margin:0;
    background-color: #778899;
}
nav { 
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.bar{
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  align-items: center;
}
.navitem { 
    text-decoration: none;
    color:white;
    padding-right: 10%;
}

.titleitem { 
   color: white;
   margin: 1%;
   padding-left: 10px;
}

.cover { 
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70vh;
}

.myCanvas { 
background-color:#DCDCDC;
width: 100%;
height: 100%;
}

.grid-wrapper { 
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(165px, 1fr));
}

.box > img  { 
    width: 100%;
}

.box { 
    background-color: #444;
    padding: 60px;
    margin: 20px;
    align-items: center;
    justify-content: center;
}

footer { 
    height: 5vh;
    text-align: center;
    background-color: seagreen;
}

.registerform {
    width: 100%;
    justify-content: center;
    display: flex;
 }

 .register { 
     padding: 10%;
     background-color: #DCDCDC;
     justify-content: center;
 }

 .loginform { 
    width: 100%;
    justify-content: center;
    display: flex;
 }
 .login { 
    padding: 10%;
    background-color: #DCDCDC;
    justify-content: center;
 }