body { 
    margin:0;
    background-color: #778899;
}
nav { 
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.bar{
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  align-items: center;
}
.navitem { 
    text-decoration: none;
    color:white;
}

.titleitem { 
   color: white;
   margin: 1%;
}

.canvasparent { 
    background-color: #778899;  
    display: flex;
    justify-content: center;
}

.myCanvas { 
background-color:#DCDCDC;
width: 90%;
height: 90%;
}

.registerform {
    width: 100%;
    justify-content: center;
    display: flex;
 }

 .register { 
     padding: 10%;
     background-color: #DCDCDC;
     justify-content: center;
 }

 .loginform { 
    width: 100%;
    justify-content: center;
    display: flex;
 }
 .login { 
    padding: 10%;
    background-color: #DCDCDC;
    justify-content: center;
 }